body {background: #ffffff;}

section {position: relative;}
.details {background: #ffffff;
    padding-bottom: 80px;
    padding-top: 0px;}
.details ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: flex-start;
       -moz-align-items: flex-start;
            align-items: flex-start;
    color: rgba(0, 255, 255, 0.4);
    font-size: 16px;
    padding-bottom: 380px;
    padding-top: 0px;
}
.details ul li {
    text-align: center;
    padding: 80px;
    width: 50%;
	padding-bottom: 80px;
    padding-top: 0px;
}
.details ul li > i {
    font-size: 4em;
    color: rgba(654,0,0,0.5);
    margin-bottom: 10px;
	padding-bottom: 80px;
    padding-top: 0px;
}

.details ul li > span {
    font-size: 1.2em;
    font-weight: 400;
	padding-bottom: 80px;
    padding-top: 0px;
}
section > div {
    max-width: 550px;
    height: 250px;
	
	position: relative;
    
    left: 0.1%;
    margin-top: 5px;
    
   
	
}
